@charset "UTF-8";
.navbar {
  background-color: black;
}
.navbar a {
  color: #fff600;
}
.navbar a:hover {
  color: #ff1900;
}
.navbar-collapse {
  width: 0%;
  height: 0%;
  display: flex;
  justify-content: flex-end;
  margin-right: 0%;
}
.navbar-titulo {
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-self: center;
  align-self: center;
}
.navbar-titulo a:hover {
  color: #fff600;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

p {
  color: rgb(255, 255, 255);
}

.p-act {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
  background-color: #000000;
  color: #fff600;
  padding: 10px;
  margin-bottom: 0%;
}

.footer {
  width: 100%;
}
.footer .border-bottom {
  background-color: #fff600;
}
.footer .seguinos-en {
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.footer .redes li {
  list-style: none;
  text-decoration: none;
}
.footer .redes li a .i-1:hover {
  color: rgb(17, 0, 255);
}
.footer .redes li a .i-2:hover {
  color: rgb(0, 234, 255);
}
.footer .redes li a .i-3:hover {
  color: #ff1900;
}
.footer .redes li a .i-4:hover {
  color: rgb(255, 66, 98);
}

.subtitulosSalon {
  position: absolute;
  text-align: center;
  right: 15%;
  left: 15%;
}
.subtitulosSalon h5 {
  color: #fff600;
  font-size: 25px;
}
.subtitulosSalon p {
  background-color: rgba(0, 0, 0, 0.729);
  border-radius: 20px;
}

.card-height {
  height: 600px;
}

.card-styles {
  padding: 0%;
  width: 100%;
  text-align: center;
  background-color: black;
  border: rgba(234, 255, 3, 0) 2px solid;
  border-radius: 20px;
}
.card-styles img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-styles .card-body {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card-styles .card-text {
  border-bottom-left-radius: 20px;
  padding: 10px;
  text-align: center;
}
.card-styles h5 {
  color: #fff600;
  margin-bottom: 0.5%;
}
.card-styles h5:hover {
  color: #ff1900;
}
.card-styles p {
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: start;
}

.titulo-aventura {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #fff600;
  background-color: none;
}

.titulo-senderos {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #fff600;
  background-color: none;
}

.cafeteria-titulo {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #fff600;
  background-color: none;
}

/*body*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./imagenes.jpg/HD-.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0%;
  padding: 0%;
}
body .carouselSalon img {
  max-width: 100%;
  max-height: 1000vh;
}
body .card-salon .card {
  background: rgb(0, 0, 0);
  margin: 2px;
}
body .card-salon .card img {
  max-width: 100%;
  max-height: 75vh;
}
body .card-salon .card h5 {
  color: #fff600;
}
body .containerContactos .mapaContactos {
  width: 100%;
}
body .width-actividades {
  width: 100%;
}
body .colTexto p {
  background-color: rgba(0, 0, 0, 0.786);
  padding-bottom: 20px;
  font-size: 18px;
}
body .colTexto h6 {
  background-color: rgba(0, 0, 0, 0.786);
  padding-bottom: 8px;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
body .cards-camping {
  margin-right: 0%;
}
body .cards-camping .row {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
body .cards-camping .colImg img {
  border: rgb(255, 255, 4) inset 5px;
  border-radius: 10px;
}
body .img-experiencias .modal-content {
  width: 1000px;
  min-width: 300px;
  height: 700px;
  margin: 0%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
body .img-experiencias .modal-content img {
  width: 100%;
  height: 300px;
}
body .img-experiencias .btn {
  border: none;
}
body .img-experiencias .card {
  background-color: rgba(0, 0, 0, 0);
}
body .img-experiencias .logo-experiencias {
  max-height: 100px;
  border-radius: 30px;
  border: rgb(134, 190, 255) 3px inset;
}
body .img-experiencias .logo-experiencias2 {
  max-height: 100px;
  border-radius: 30px;
  border: rgb(255, 57, 133) 3px inset;
}
body .img-experiencias .logo-experiencias3 {
  max-height: 100px;
  border-radius: 30px;
  border: rgb(0, 8, 255) 3px inset;
}
body .img-experiencias .logo-experiencias4 {
  max-height: 100px;
  border-radius: 30px;
  border: rgb(23, 176, 0) 3px inset;
}
body .img-experiencias .experiencia-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
body .img-experiencias .experiencia-contenedor .experiencia-google {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
body .img-experiencias .experiencia-contenedor .experiencia-google .perfil-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}
body .img-experiencias .experiencia-contenedor .experiencia-google .perfil-img img {
  width: 100%;
  height: 100%;
  object-fit: center;
}
body .img-experiencias .experiencia-contenedor .experiencia-google .perfil {
  display: flex;
  align-items: center;
}
body .img-experiencias .experiencia-contenedor .experiencia-google .perfil .name-user {
  display: flex;
  flex-direction: column;
}
body .img-experiencias .experiencia-contenedor .experiencia-google .perfil .name-user strong {
  color: #000000;
  font-size: 1.3rem;
}
body .img-experiencias .experiencia-contenedor .experiencia-google .perfil .name-user span {
  color: #272727;
  font-size: 1.1rem;
}
body .img-experiencias .experiencia-contenedor .experiencia-google .reseñas {
  color: #f9d71c;
}
body .img-experiencias .experiencia-contenedor .experiencia-google .caja-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
body .img-experiencias .experiencia-contenedor .experiencia-google .comentarios-google p {
  color: #4b4b4b;
}
body .img-experiencias .experiencia-contenedor .experiencia-google .comentarios-google a {
  text-decoration: none;
  list-style: none;
}
body .img-experiencias .experiencia-contenedor .experiencia-google ::selection {
  color: white;
  background-color: #252525;
}

/*@medias queries*/
@media screen and (max-width: 1800px) {
  .salon-movile {
    display: none;
  }
  .iframe-facebook {
    width: 100%;
    height: 170px;
  }
}
@media screen and (max-width: 1600px) {
  .container {
    width: 1200px;
  }
  .card2 {
    width: 500px;
  }
  .card1 {
    width: 500px;
  }
  .mapa {
    width: 560px;
  }
  .salon-movile {
    display: none;
  }
  .iframe-facebook {
    width: 100%;
    height: 170px;
  }
}
@media screen and (max-width: 1500px) {
  .container {
    width: 1200px;
  }
  .card2 {
    width: 500px;
  }
  .card1 {
    width: 500px;
  }
  .mapa {
    width: 560px;
  }
  .salon-movile {
    display: none;
  }
  .iframe-facebook {
    width: 100%;
    height: 180px;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    width: 1300px;
  }
  .card2 {
    width: 470px;
  }
  .card1 {
    width: 470px;
  }
  .mapa {
    width: 560px;
  }
  .width-actividades-senderos {
    width: 89%;
    padding-left: 10%;
  }
  .salon-movile {
    display: none;
  }
  .iframe-facebook {
    width: 100%;
    height: 190px;
  }
}
@media screen and (max-width: 1198px) {
  .actividades {
    width: 100%;
    margin: 0%;
  }
  .container {
    width: 1198px;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 400px;
  }
  .card1 {
    width: 400px;
  }
  .mapa {
    width: 400px;
  }
  .salon-movile {
    display: none;
  }
  .iframe-facebook {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 987px) {
  .carouselIndex {
    margin-top: 10%;
  }
  .actividades {
    width: 100%;
    margin: 0%;
  }
  .container {
    width: 987px;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 700px;
  }
  .card1 {
    width: 700px;
  }
  .mapa {
    width: 350px;
  }
  .salon-movile {
    display: none;
  }
  .iframe-facebook {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 850px) {
  .actividades {
    width: 100%;
    margin: 0%;
  }
  .container {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 501px;
  }
  .card1 {
    width: 501px;
  }
  .mapa {
    width: 351px;
  }
  .salon-movile {
    display: none;
  }
  .iframe-facebook {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 830px) {
  .actividades {
    width: 100%;
    margin: 0%;
  }
  .container {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 660px;
  }
  .card1 {
    width: 660px;
  }
  .mapa {
    width: 351px;
  }
  .salon-movile {
    display: none;
  }
  .iframe-facebook {
    width: 100%;
    height: 230px;
  }
}
@media screen and (max-width: 790px) {
  .actividades {
    width: 100%;
    margin: 0%;
  }
  .container {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 550px;
  }
  .card1 {
    width: 550px;
  }
  .mapa {
    width: 350px;
  }
  .subtitulosSalon h5 {
    font-size: 19px;
  }
  .subtitulosSalon p {
    width: 500px;
    border-radius: 2px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
  }
  .salon-movile {
    display: none;
  }
  .iframe-facebook {
    width: 100%;
    height: 220px;
  }
}
@media screen and (max-width: 670px) {
  .actividades {
    width: 100%;
    margin: 0%;
  }
  .container {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 501px;
  }
  .card1 {
    width: 501px;
  }
  .mapa {
    width: 501px;
  }
  .card-styles {
    margin-right: 10px;
  }
  .subtitulosSalon h5 {
    font-size: 19px;
  }
  .subtitulosSalon p {
    width: 500px;
    border-radius: 2px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
  }
  .salon-movile {
    display: none;
  }
  .iframe-facebook {
    width: 100%;
    height: 250px;
  }
}
@media screen and (max-width: 660px) {
  .footer-widht {
    width: 10px;
  }
  .actividades {
    width: 500px;
    margin: 0%;
  }
  .container {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 500px;
  }
  .card1 {
    width: 500px;
  }
  .mapa {
    width: 450px;
  }
  .width-actividades-senderos {
    width: 80%;
    padding-left: 0%;
  }
  .subtitulosSalon h5 {
    font-size: 19px;
  }
  .subtitulosSalon p {
    width: 100%;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
  }
  .salon-movile {
    display: none;
  }
  .iframe-facebook {
    width: 100%;
    height: 240px;
  }
}
@media screen and (max-width: 570px) {
  .carouselIndex {
    margin-top: 15%;
  }
  .actividades {
    width: 400px;
    margin: 0%;
  }
  .container {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 420px;
  }
  .card1 {
    width: 420px;
  }
  .mapa {
    width: 400px;
  }
  .subtitulosSalon h5 {
    font-size: 15px;
  }
  .subtitulosSalon p {
    width: 100%;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
  }
  .carouselSalon {
    display: none;
  }
  .salon-movile {
    display: flex;
  }
  .salon-movile .card {
    height: 700px;
  }
  .salon-movile .card img {
    max-height: 600px;
  }
  .iframe-facebook {
    width: 100%;
    height: 280px;
  }
}
@media screen and (max-width: 470px) {
  .carouselIndex {
    margin-top: 20%;
  }
  .titulo1 {
    width: 50%;
    padding-left: 0px;
  }
  .actividades {
    width: 300px;
    margin: 0%;
  }
  .container {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 350px;
  }
  .card2 img {
    max-height: 70vh;
  }
  .card1 {
    width: 350px;
  }
  .card1 img {
    max-height: 70vh;
  }
  .mapa {
    width: 320px;
  }
  .subtitulosSalon h5 {
    font-size: 15px;
  }
  .subtitulosSalon p {
    width: 100%;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
  }
  .carouselSalon {
    display: none;
  }
  .salon-movile {
    display: flex;
  }
  .salon-movile .card {
    height: 700px;
  }
  .salon-movile .card img {
    max-height: 600px;
  }
  .iframe-facebook {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .carouselIndex {
    margin-top: 20%;
    width: 100%;
    height: 100%;
  }
  .carouselIndex img {
    height: 60vh;
    width: 100%;
  }
  .titulo1 {
    width: 54%;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .navbar img {
    width: 100%;
  }
  .navbar-toggler {
    width: 15%;
  }
  .navbar-toggler:visited {
    border: none;
  }
  .actividades {
    width: 300px;
    margin: 0%;
  }
  .container {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 290px;
  }
  .card2 img {
    width: 100%;
    height: 50vh;
  }
  .card1 {
    width: 290px;
  }
  .card1 img {
    width: 100%;
    height: 50vh;
  }
  .navbar-titulo {
    display: none;
  }
  .navbar-brand img {
    text-align: center;
  }
  .mapa {
    width: 280px;
  }
  .subtitulosSalon h5 {
    font-size: 15px;
  }
  .subtitulosSalon p {
    width: 100%;
    font-size: 9px;
    padding: 0px;
    margin: 0px;
  }
  .carouselSalon {
    width: 100%;
    height: 200px;
  }
  .carouselSalon img {
    width: 100%;
    height: 200px;
  }
  .carouselSalon {
    display: none;
  }
  .salon-movile {
    display: flex;
  }
  .salon-movile .card {
    height: 700px;
  }
  .salon-movile .card img {
    max-height: 600px;
  }
  .iframe-facebook {
    width: 100%;
    height: 370px;
  }
}
@media screen and (max-width: 330px) {
  .carouselIndex {
    margin-top: 25%;
  }
  .actividades {
    width: 250px;
    margin: 0%;
  }
  .container {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 250px;
  }
  .card1 {
    width: 250px;
  }
  footer {
    width: 200px;
  }
  footer .redes {
    text-align: center;
    margin-left: 40px;
  }
  footer .seguinos-en {
    display: none;
  }
  .mapa {
    width: 250px;
  }
  .carouselSalon {
    width: 100%;
    height: 200px;
  }
  .carouselSalon img {
    width: 300px;
    height: 200px;
  }
  .carouselSalon {
    display: none;
  }
  .salon-movile {
    display: flex;
  }
  .salon-movile .card {
    height: 700px;
  }
  .salon-movile .card img {
    max-height: 600px;
  }
  .iframe-facebook {
    width: 100%;
    height: 450px;
  }
}
@media screen and (max-width: 328px) {
  .carouselIndex {
    margin-top: 30%;
  }
  .actividades {
    width: 200px;
    margin: 0%;
  }
  .container {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .card2 {
    width: 230px;
  }
  .card2 h5 {
    font-size: 19px;
  }
  .card1 {
    width: 230px;
  }
  .mapa {
    width: 260px;
  }
  .carouselSalon {
    display: none;
  }
  .salon-movile {
    display: flex;
  }
  .salon-movile .card {
    height: 700px;
  }
  .salon-movile .card img {
    max-height: 600px;
  }
  .iframe-facebook {
    width: 100%;
    height: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
