$color-1: #fff600;
$color-2:#feff64;
$color-3:#ff9c00;
$color-4:#9A4000;
$color-5:#000000;
$color-6:rgb(255, 170, 0);
$color-hover:#ff1900;
$color-texto:rgb(255, 255, 255);
$color-facebook:rgb(17, 0, 255);
$color-twitter:rgb(0, 234, 255); 
$color-google:$color-hover;
$color-instagram:rgb(255, 66, 98);