@use 'navbar';
@use 'variables';
@use 'index-styles';
@use 'footer';
@use 'mixins';

/*body*/
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(./imagenes.jpg/HD-.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin:0%;
    padding: 0%;
}
.carouselSalon{
    img{
        max-width: 100%;
        max-height: 1000vh;
    }
}
.card-salon{
    .card{
        background: rgb(0, 0, 0);
        margin:2px;
        img{
            max-width: 100%;
            max-height: 75vh;
        }
        h5{
            color: variables.$color-1;
        }
    }
}
.containerContactos{
    .mapaContactos{
        width:100%;
    }
}
.width-actividades{
    width: 100%;
}
/*@medias queries*/
@media screen and (max-width: 1700px){
    .salon-movile{
        display:none;
    }
}
@media screen and (max-width: 1600px){
    .container{
        width: 1200px;
    }
    .card2{
        width: 500px;
    }
    .card1{
        width:500px;
    }
    .mapa{
        width: 560px;
    }
    .salon-movile{
        display:none;
    }
}
@media screen and (max-width: 1500px){
    .container{
        width: 1200px;
    }
    .card2{
        width: 500px;
    }
    .card1{
        width:500px;
    }
    .mapa{
        width: 560px;
    }
    .salon-movile{
        display: none;
    }
}
@media screen and (max-width: 1300px){
    .container{
        width: 1300px;
    }
    .card2{
        width:470px;
    }
    .card1{
        width:470px;
    }
    .mapa{
        width: 560px;
    }
    .width-actividades-senderos{
        width: 89%;
        padding-left: 10%;
    }
    .salon-movile{
        display: none;
    }
}
@media screen and (max-width: 1198px){
    .actividades{
        width:100%;
        margin:0%;
    }
    .container{
        width:1198px;
        margin:0%;
        padding: 0%;
    }
    .card2{
        width: 400px;
    }
    .card1{
        width:400px;
    }
    .mapa{
        width: 400px;
    }
    .salon-movile{
        display: none;
    }
}
@media screen and (max-width: 987px){
    .carouselIndex{
        margin-top: 10%;
    }
    .actividades{
        width:100%;
        margin:0%;
    }
    .container{
        width:987px;
        margin:0%;
        padding:0%;
    }
    .card2{
        width:700px;
    }
    .card1{
        width:700px;
    }
    .mapa{
        width:350px;
    }
    .salon-movile{
        display: none;
    }
}
@media screen and (max-width:850px) {
    .actividades{
        width:100%;
        margin:0%;
    }
    .container{
        width:100%;
        margin:0%;
        padding: 0%;
    }
    .card2{
        width:501px;
    }
    .card1{
        width:501px;
    }
    .mapa{
        width: 351px;
    }
    .salon-movile{
        display: none;
    }
}
@media screen and (max-width:830px) {
    .actividades{
        width:100%;
        margin:0%;
    }
    .container{
        width:100%;
        margin:0%;
        padding: 0%;
    }
    .card2{
        width:660px;
    }
    .card1{
        width:660px;
    }
    .mapa{
        width:351px;
    }
    .salon-movile{
        display: none;
    }
}
@media screen and (max-width:790px) {
    .actividades{
        width:100%;
        margin:0%;
    }
    .container{
        width:100%;
        margin:0%;
        padding: 0%;
    }
    .card2{
        width:550px;
    }
    .card1{
        width:550px;
    }
    .mapa{
        width:350px;
    }
    .subtitulosSalon{
        h5{
           font-size: 19px;
        }
        p{
            width: 500px;
            border-radius: 2px;
            font-size: 12px;
            padding: 0px;
            margin: 0px;
        }
    }
    .salon-movile{
        display: none;
    }
}

@media screen and (max-width: 670px){
    .actividades{
        width:100%;
        margin:0%;
    }
    .container{
        width:100%;
        margin:0%;
        padding: 0%;
    }
    .card2{
        width:501px;
    }
    .card1{
        width:501px;
    }
    .mapa{
        width:501px;
    }
    .card-styles{
        margin-right: 10px;
    }
    .subtitulosSalon{
        h5{
           font-size: 19px;
        }
        p{
            width: 500px;
            border-radius: 2px;
            font-size: 12px;
            padding: 0px;
            margin: 0px;
        }
    }
    .salon-movile{
        display: none;
    }
}
@media screen and (max-width: 660px){
    .actividades{
        width:500px;
        margin:0%;
    }
    .container{
        width:100%;
        margin:0%;
        padding: 0%;
    }
    .card2{
        width:500px;
    }
    .card1{
        width:500px;
    }
    .mapa{
        width: 480px;
    }
    .width-actividades-senderos{
        width: 80%;
        padding-left: 0%;
    }
    .subtitulosSalon{
        h5{
           font-size: 19px;
        }
        p{
            width: 100%;
            font-size: 11px;
            padding: 0px;
            margin: 0px;
        }
    }
    .salon-movile{
        display: none;
    }
}
@media screen and (max-width: 570px){
    .carouselIndex{
        margin-top: 15%;
    }
    .actividades{
        width:400px;
        margin:0%;
    }
    .container{
        width:100%;
        margin:0%;
        padding: 0%;
    }
    .card2{
        width:420px;
    }
    .card1{
        width:420px;
    }
    .mapa{
        width: 400px;
    }
    .subtitulosSalon{
        h5{
           font-size: 15px;
        }
        p{
            width: 100%;
            font-size: 11px;
            padding: 0px;
            margin: 0px;
        }
    }
    .salon-movile{
        width: 96%;
        display:flex;
        flex-wrap: wrap;
        .card{
            width: 100%;
            margin-top: 10px;
            background-color: none;
            color: none;
            img{
                width: 100%;
                height: 300px;
            }
            h5{
                margin-top: 0%;
                padding-top: 0%;
            }
            p{
                font-size: 10px;
            }
        }
    }
    .carouselSalon{
        display: none;
    }

}
@media screen and (max-width: 470px){
    .carouselIndex{
        margin-top: 20%; 
    }
    .titulo1{
        width: 50%;
        padding-left: 0px;
    }
    .actividades{
        width:300px;
        margin:0%;
    }
    .container{
        width:100%;
        margin:0%;
        padding: 0%;
    }
    .card2{
        width:350px;
        img{
            max-height: 70vh;
        }
    }
    .card1{
        width:350px;
        img{
            max-height: 70vh;
        }
    }
    .mapa{
        width: 320px;
    }
    .subtitulosSalon{
        h5{
           font-size: 15px;
        }
        p{
            width: 100%;
            font-size: 11px;
            padding: 0px;
            margin: 0px;
        }
    }
    .salon-movile{
        display:flex;
        flex-wrap: wrap;
        .card{
            width: 100%;
            margin-top: 10px;
            background-color: none;
            color: none;
            img{
                width: 100%;
                height: 210px;
            }
            
        }
    }
    .carouselSalon{
        display: none;
    }
}
@media screen and (max-width: 400px){
    .carouselIndex{
        margin-top: 20%;
        width: 100%;
        height: 100%;
        img{
            height: 60vh;
            width: 100%;
        } 
    }
    .titulo1{
        width: 54%;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .navbar img{
        width: 100%;
    }
    .navbar-toggler{
        width: 15%;
    }
    .navbar-toggler:visited{
        border: none;
    }
    .actividades{
        width:300px;
        margin:0%;
    }
    .container{
        width:100%;
        margin:0%;
        padding: 0%;
    }
    .card2{
        width:290px;
        img{
            width: 100%;
            height: 50vh;
        }
    }
    .card1{
        width:290px;
        img{
            width: 100%;
            height: 50vh;
        }
    }
    .navbar-titulo{
        display: none;
    }
    .navbar-brand{
        img{
            text-align: center;
        }
    }
    .mapa{
        width: 280px;
    }
    .subtitulosSalon{
        h5{
           font-size: 15px;
        }
        p{
            width: 100%;
            font-size: 9px;
            padding: 0px;
            margin: 0px;
        }
    }
    .carouselSalon{
        width: 100%;
        height: 200px;
        img{
            width:100%;
            height:200px;
        }
    }
    .salon-movile{
        display:flex;
        flex-wrap: wrap;
        .card{
            width: 100%;
            margin-top: 10px;
            background-color: none;
            color: none;
            img{
                width: 100%;
                height: 190px;
            }
            
        }
    }
    .carouselSalon{
        display: none;
    }
}
@media screen and (max-width: 330px){
    .carouselIndex{
        margin-top: 25%;
    }
    .actividades{
        width:250px;
        margin:0%;
    }
    .container{
        width:100%;
        margin:0%;
        padding: 0%;
    }
    .card2{
        width:250px;
    }
    .card1{
        width:250px;
    }
    footer{
        width: 200px;
        .redes{
            text-align: center;
            margin-left: 40px;
        }
        .seguinos-en{
            display: none;
        }
    }
    .mapa{
        width: 250px;
    }
    .carouselSalon{
        width: 100%;
        height: 200px;
        img{
            width:300px;
            height:200px;
        }
    }
    .salon-movile{
        display:flex;
        flex-wrap: wrap;
        .card{
            width: 100%;
            margin-top: 10px;
            background-color: none;
            color: none;
            img{
                width: 100%;
                height: 180px;
            }
            
        }
    }
    .carouselSalon{
        display: none;
    }
}
@media screen and (max-width: 328px){
    .carouselIndex{
        margin-top: 30%;
    }
    .actividades{
        width:200px;
        margin:0%;
    }
    .container{
        width:100%;
        margin:0%;
        padding: 0%;
    }
    .card2{
        width:230px;
        h5{
            font-size: 19px;
        }
    }
    .card1{
        width:230px;
    }
    .mapa{
        width: 260px;
    }
    
}

